@media (max-width: 768px) {
    body{
        width: 100%;
    }

    header .logo {
        width: 100px;
    }

    .nav-bar {
        justify-content: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #701e1e;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .tickets {
        padding: 20px;
    }

    footer .logo {
        padding: 0;
    }
    .container {
        padding: 20px;
    }

    .copy {
        margin: 10px 0;
    }

    .disclaimer {
        margin: 10px 0;
    }
}